.p-card-title {
  padding: 20px 0 15px 20px;

}

.contrast-color {
  color: white;
  background-color: #6666ff;
}

p-radioButton {
  margin-left: 1rem;
}

#tabela_hospedes {
  margin-top: 2rem;
}

.msgErro {
  color: #ff4444;
}


